<div class="container-fluid content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Project owner: {{project.creatorId.name}}</p>
        <h1>{{project.name}}</h1>
        <img src="{{project.picPath}}" alt="{{project.picname}}" width="200">
        <p>{{project.content}}</p>

        {{#if project.comments}}
        <h2><strong>Comments</strong></h2>
        {{/if}}

        {{#each project.comments as |comment|}}
        <div class="users-comments">
          {{#if comment.imagePath}}
          <img src="{{comment.imagePath}}" alt="{{comment.imageName}}" width="100">
          <h4><strong>{{comment.imageName}}</strong></h4>
          {{/if}}
          <div class="post-info">
            <p>{{comment.content}}</p>
            <p class="author">posted by @{{comment.authorId.username}}</p>
          </div>
        </div>
        {{/each}}

        {{#if user}}
        {{#unless owner}}
        <div class="row justify-content-center">
          <div class="col-12 col-sm-5">
            <form action="/project/{{project._id}}" method="POST" enctype="multipart/form-data">
              <h2><strong>Make a comment!</strong></h2>
              <div class="form-group">
                <label for="content">Content</label>
                <textarea type="text" class="form-control" id="content" name="content" rows="5"></textarea>
              </div>
              <div class="form-group">
                <label for="imagePath">Upload file</label>
                <input type="file" class="form-control-file" id="imagePath" placeholder="Upload file" name="imagePath">
              </div>
              <div class="form-group">
                <label for="imageName">File title</label>
                <input type="text" class="form-control" id="imageName" placeholder="File title" name="imageName">
              </div>
              <button type="submit" class="btn" id="{{user._id}}">Comment</button>
            </form>
          </div>
        </div>
        {{/unless}}
        {{/if}}


        {{#if owner}}
        <form action="/project/{{project._id}}/edit" method="POST" enctype="multipart/form-data">
          <h2><strong>Edit project!</strong></h2>
          <div class="form-group">
            <label for="name">Project name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{project.name}}">
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea type="text" class="form-control" id="content" name="content" rows="5">{{project.content}}
            </textarea>
          </div>
          <div class="form-group">
            <label for="picPath">Upload file</label>
            <input type="file" class="form-control-file" id="picPath" placeholder="Upload file" name="picPath">
          </div>
          <div class="form-group">
            <label for="picName">File title</label>
            <input type="text" class="form-control" id="picName" placeholder="File title" name="picName"
              value="{{project.picName}}">
          </div>
          <div class="form-group">
            <label for="url">Your url</label>
            <input type="text" class="form-control" id="url" placeholder="put your url, motherfucker" name="url">
          </div>
          <button type="submit" class="btn" id="{{user._id}}">Edit project</button>
        </form>
        <a href="/project/{{project._id}}/delete" class="btn btn-primary">Delete project</a>
        {{/if}}
        
      </div>
    </div>
  </div>
</div>